$mainFont: 'Roboto';
$bodyColor: #ebeff1;
$headingsColor: #4c5766;
$paragraphColor: #c0c4c9;
$navbarColor: #646e7b;
$inputElementColor: #838b95;
$break-small: 450px;
$break-medium: 650px;
$break-large: 900px;